@model List<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Admin"))
{

    Layout = "_AdminLayout";

}
<h1>Welcom @User.Identity.Name</h1>


<table class="table table-bordered">
    <thead>
        <tr>

            <th>
                <h5>Full Name</h5>
            </th>
            
            <th>
                <h5>Email</h5>
            </th>
            
            <th>
                <h5>City</h5>
            </th>
            <th>

            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <p>@item.FullName</p>
                    </td>
                    
                    <td>
                        <p>@item.Email</p>
                    </td>
                   
                    <td>
                        <p>@item.City</p>
                    </td>

                    <td>
                        <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <p>No Users found in site</p>
    }

</table>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back</a>
<a asp-action="Create" class="btn btn-primary">Create New</a>


