@model STORE_Website.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";

}
@if (User.IsInRole("Admin"))
{
 
    Layout="_AdminLayout";

	<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">Numbers: @Model.OrderCount</p>
						<p class="card-text">Total Amount: $@ViewBag.ordersTotal </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Numbers: @Model.UserCount</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <p class="card-text">Numbers: @Model.CategoryCount</p>
                </div>
            </div>
        </div>
    </div>
    </div>
	<br />
	<div class="image-holder m-auto center">
		<h2 class="text-uppercase fs-5">Best Seller</h2>
		<a asp-action="Details" asp-controller="Product" asp-route-id="@ViewBag.bestSellerProduct.Id">
			<img src="@ViewBag.bestSellerProduct.ImageUrl" alt="product" class="product-image img-fluid shadow" style="width: 50%; height: 200px;">
		</a>

		<div class="product-content">
			<h5 class="text-uppercase fs-5 mt-3">
				<a asp-action="Details" asp-controller="Product" asp-route-id="@ViewBag.bestSellerProduct.Id">@ViewBag.bestSellerProduct.Name</a>
				<h5 class="card-title">@ViewBag.bestSellerProduct.Name</h5>
				<p class="card-text">@ViewBag.bestSellerProduct.Description</p>
				<p class="card-text">Price: $@ViewBag.bestSellerProduct.Price</p>
				<h4 class="card-text">Number of orders: @ViewBag.BestSellerNumberOfOrder</h4>

			</h5>
		</div>
		<br />
	</div>

}
else if (User.IsInRole("User"))
{
	Layout = "_UserLayout";


	<section id="related-products" class="related-products product-carousel py-5 position-relative overflow-hidden">
		<div class="container">
			<div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
				<h4 class="text-uppercase">You May Also Like</h4>
				<a asp-action="Index" asp-controller="Product" class="btn-link">View All Products</a>
			</div>
			<div class="swiper product-swiper open-up" data-aos="zoom-out">
				<div class="swiper-wrapper d-flex">

					@if (ViewBag.Products != null)
					{
						@foreach (var product in ViewBag.Products)
						{
							<div class="swiper-slide">
								<div class="product-item image-zoom-effect link-effect">
									<div class="image-holder">
										<a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id">
											<img src="@product.ImageUrl" alt="product" class="product-image img-fluid shadow" style="width: 100%; height: 230px;">
										</a>

										<div class="product-content">
											<h5 class="text-uppercase fs-5 mt-3">
												<a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id">@product.Name</a>
												<p>$ @product.Price</p>
												<p>Available: @product.Stock</p>
											</h5>
											<a class="btn btn-primary" asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-productId="@product.Id">Add To Cart</a>
										</div>
									</div>
								</div>
							</div>

						}

					}
				</div>
			</div>
		</div>
	</section>



	@if (ViewBag.Categories != null)
	{
		<div class="row">
			@foreach (var category in ViewBag.Categories)
			{
				<div class="col-md-4 mb-3" >
					<div class="card h-100 shadow-sm">
						<a asp-action="GetProductsByCategoryId" asp-controller="Product" asp-route-categoryId="@category.Id">
							<div class="card-body">
								<h5 class="card-title">@category.Name</h5>
								<p class="card-text">@category.Description</p>
							</div>
						</a>
					</div>
				</div>
			}
		</div>
	}

}


<!-- Hero Section with Buttons -->
<section class="vh-100 d-flex align-items-center bg-light">
	<div class="container text-center">
		<h1 class="display-4">Welcome to MyWebsite</h1>
		<p class="lead text-muted mb-4">Please login or register to access our features.</p>
		<div class="d-flex justify-content-center gap-3">
			<a asp-action="Login" asp-controller="Account" class="btn btn-primary btn-lg">Login</a>
			<a asp-action="Register" asp-controller="Account" class="btn btn-success btn-lg">Register</a>
		</div>
	</div>
</section>


